{% import 'utils.html' as utils %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>ToDo List</title>
    <meta name="author" content="Antoine M.">
    <meta name="description" content="ToDo List">
    <link rel="stylesheet" href="../static/css/todoList.css">
    {% endblock %}
</head>
<body>
    <h1>Tasks</h1>
    {% if length == 0 %}
        <h4>Nothing to do! Good job.</h4>
    {% else %}
        <h4>Number of tasks: {{length}}</h4>
        {% for n in tasks %}
        <p class="task">{{ utils.displayTask(n[0], loop.index)}}</p>
        {% endfor %}
    {% endif %}

</body>
</html>