{% import 'utils.html' as utils %}
{% extends "base.html" %}


{% block head %}
    <title>ToDo List</title>
    {{ super() }}
{% endblock %}

{% block body %}
    {% if length == 0 %}
        <h3>Nothing to do! Good job.</h3>
    {% else %}
        <h3>Total: {{length}} Unfinished: {{notDone}}</h3>

        <!-- Table with tasks -->
        <div class="container-md">
        {% for n in tasks %}
            {{ utils.displayTask(n, loop.index)}}
        {% endfor %}
        </div>

    {% endif %}
{% endblock %}
