<!DOCTYPE html>
<html>

<head>
    <title> Collecte infos exo 2</title>
    <meta name="author" content="Antoine M.">
</head>
<!--Action must redirect to page of the form in relation with routes-->
<form action="" method="POST">
    <table>
        <tr>
            <td>Name: </td>
            <td><input id="name" type="text" name="name"></td>
        </tr>
        <tr>
            <td>Surname: </td>
            <td><input id="surname" type="text" name="surname"></td>
        </tr>
        <tr>
            <td>Date of birth: </td>
            <td><input type="text" name="birthdate" id="birthdate"></td>
        </tr>
        <tr>
            <td>Nationality: </td>
            <td><input type="text" name="nationality" id="nationality"></td>
        </tr>
        <tr>
            <td>chanson: </td>
            <td><input type="file" name="filename" id="filename"></td>
        </tr>
    </table>
    <hr>
    <input type="submit" value="Submit">
</form>

</html>