{% extends "base.html" %}

{% block head %}
    <title>Register</title>
    {{ super() }}
{% endblock %}

{% block body %}
<h1> Create new account </h1>
{% with messages = get_flashed_messages(with_categories=true, category_filter=['danger', 'success'] ) %}
    {% if messages %}
        <ul class='flashes' style="text-align: center;">
        {% for c, m in messages %}
            <li> {{ c }} : {{ m }} </li>
        {% endfor %} </ul>
    {% endif %}
{% endwith %}

{% if form.errors %}
    {% for message in form.username.errors %}
        <div class="field_error">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="POST" action="/register" novalidate>
    {{ form.csrf_token }}  <!-- {{ form.hidden_tag() }}  -->
   <div class="ml-2 mr-2" style="justify-content: center;">
        <div class="form-row">
            <label  class="col-auto"> {{ form.first_name.label }} </label>
            <div class="col-auto"> {{ form.first_name()}}</div>
        </div>
        <div class="form-row">
            <label class="col-auto">{{ form.last_name.label }} </label>
            <div class="col-auto">{{ form.last_name() }}</div>
        </div>
        <div class="form-row">
            <label class="col-auto">{{ form.dob.label }} </label>
            <div class="col-auto">{{ form.dob() }}</div>
        </div>
        <div class="form-row">
            <label class="col-auto">{{ form.username.label }} </label>
            <div class="col-auto">{{ form.username() }}</div>
        </div>
        <div class="form-row">
            <label class="col-auto">{{ form.password.label }} </label>
            <div class="col-auto">{{ form.password() }}</div>
        </div>
        <div class="form-row">
            <label class="col-auto">{{ form.confirm.label }} </label>
            <div class="col-auto">{{ form.confirm() }}</div>
        </div>

        {{ form.submit() }}
   </div>
</form>

{% endblock %}