h1{
    text-align: center;
}

.container {
    width: 100%;
    max-width: 75vw;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(19, 19, 19);
    height: 90vh;
    margin-top: 5vh;
    overflow-y: auto;
    /*border: 0.5px solid rgb(158, 158, 158); This line is to add a border arround the container*/
    text-align: center;
}

.container-md {
    border: 0.1px solid lightgray;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fa-trash:hover, .fa-pen:hover{
    color: darkblue;
    text-decoration: none;
}

.far:hover{
    text-decoration: none;
    color: darkblue;
}

